// Place all the styles related to the api/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 5px;
  width: 100%;
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 2px;
  border: 1px solid $red;
  border-radius: 4px;
  margin: 3px;
}

.delete-tag-button {
  color: $red;
  cursor: pointer;
}

.tag-form {
  display: flex;
  flex-direction: row;
}

.tag-form-input {
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
}

.tag-form-button {
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background-color: $red;
  color: white;
  margin: 5px;
}
