.header {
  font-family: 'Signika', sans-serif;
  background-color: #ECF1F2;
  width: 100%;
  height: 75px;
  position: relative;
  top-padding: 0px;

  .nav-logo {
    display: inline-flex;
    align-items: center;
    float: left;
    padding: 10px;

    div {
      height: 100px;
      width: 225px;
      background-image: image-url('logo2.jpg');
      background-size: cover;
      border: 3px solid #292F36;
    }

    a {
      font-size: 28px;
      padding-right: 40px;
      font-weight: 600;
      color: #A4250D;
      text-decoration: none;
      padding-top: 25px;
    }
  }

  .nav-menu {
    display: inline-flex;
    float: right;
    padding-top: 25px;
    padding-right: 50px;
    list-style: none;

    li a {
      font-size: 20px;
      padding-right: 40px;
      font-weight: 600;
      color: #272635;
      text-decoration: none;

      &:hover {
        color: #FFA513;
      }
    }

    h1 {
      font-size: 16px;
      padding-right: 20px;
    }

    button {
      font-family: 'Signika', sans-serif;
      font-size: 16px;
      padding: 5px;
      border-radius: 4px;
      background-color: #A4250D;
      color: white;

      &:hover {
        background-color: #292F36;;
      }
    }
  }
}
