.profile {
  width: 400px;
  height: 300px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  font-family: 'Signika', sans-serif;
  background-color: rgba(236, 241, 242, 0.7);
  font-size: 28px;
}
