.recipe-index-container {
  margin: auto;
  overflow: contain;
  img {
    max-width: 100%;
  }
}

.recipe-index-item {
  position: relative;
  width: 280px;
  padding: 5px;
  display: inline-block;
}

.recipe-index-image {
  position: relative;
  display: block;
  height: 200px;
  width: 280px;
  overflow: hidden;
  object-fit: contain;
  width: auto;
}

.recipe-index-title {
  text-align: center;
  font-size: 12px;

  &:hover {
    color: #A4250D
  }
}
