.welcome-background {
  background-color: #50514F;
  background-image: url('http://res.cloudinary.com/di8mt9hbc/image/upload/v1484249637/food-breakfast-egg-milk_ns4pb5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
}

.welcome-background .welcome {
  font-family: 'Signika', sans-serif;
  background-color: rgba(236, 241, 242, 0.7);
  width: 500px;
  font-size: 28px;
  padding: 20px;
  margin-top: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.welcome-background .welcome-links {
  text-decoration: none;
}
