body {
  background-color: #50514F;
  background-image: image-url('splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-background {
  font-family: 'Signika', sans-serif;
  background-color: rgba(236, 241, 242, 0.7);
  width: 500px;
  font-size: 28px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;

  .welcome-links {
    a {
      text-decoration: none;
    }
  }

}
