.recipe-index-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  overflow: contain;

  img {
    max-width: 100%;
    cursor: pointer;
  }
}

.recipe-index-item {
  width: 280px;
  padding: 5px;
  margin: 10px;
  background-color: white;
}

.tags {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  padding-top: 5px;

  .recipe-index-item-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      font-size: 16px;
      margin: auto;
      padding: 5px;
    }
  }
}

.recipe-index-image {
  height: 200px;
  width: 280px;
  overflow: hidden;
  object-fit: contain;
  width: auto;
}

.recipe-index-title {
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding: 5px;

  &:hover {
    color: $red;
    cursor: pointer;
  }
}
