.recipe-form-box {
  width: 500px;
  margin: auto;
  background-color: rgba(236, 241, 242, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  padding: 10px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 24px;
    text-align: center;
  }

  label {
    border-bottom: 1px solid $blue;
  }

  input {
    width: 450px;
    height: 25px;
    padding: 0px 6px;
  }

  // input:focus {
  //   border: 1px solid #ffa513
  // }

  .add-input-button {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;

    &:hover {
      background-color: #292F36;
      color: white;
    }
  }

  img {
    width: 300px;
    max-width: 100%;
  }

  .image-button {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    background-color: #ffa513;
    color: black;
    width: 200px;

    &:hover {
      background-color: #292F36;
      color: white;
    }
  }
}
