.show-recipe-container {
  margin: auto;
  background-image: url('http://res.cloudinary.com/di8mt9hbc/image/upload/v1484542663/wood-911002_1920_phredk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  min-height: 100vh;
}

.recipe-nav-bar {
  display: flex;
  flex-direction: row;
  padding: 5px;

}

.recipe-options-button {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid $gray;
  background-color: rgba(236, 241, 242, 0.8);
  // background-color: $light-blue;
  color: $gray;
  margin: 10px;

  &:hover {
    // background-color: #0D2645;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
  }
}

.recipe-edit-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.large-recipe-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 66%;
  height: 100%;
  box-shadow: 0 0 5px black;
}

.recipe-header {
  padding: 15px;

  img {
    width: 100%;
  }

  .recipe-title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    padding: 5px;
    border-bottom: 2px solid $red;

  }
}

.recipe-ingredients {
  padding: 15px;

  h2 {
    font-size: 20px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid $red;
  }

  .ingredients {
    font-size: 16px;
    list-style: circle;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
   }
}

.recipe-directions {
  padding: 15px;

  h2 {
    font-size: 20px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid $red;
  }

  .directions {
    font-size: 16px;
    list-style-type: decimal;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
  }
}
