// Place all the styles related to the api/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .notes img {
//
//     width: 150px;
//     // max-width: 100%;
//   }
//
//   .notes-form {
//     width: inherit;
//   }
//
//   .notes-index-container {
//     width: inherit;
//   }
// }

.notes-index-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;

  img {
    width: 100px;
    // max-width: 100%;
  }

  .notes-index-note {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 10px;

  }
}
