// Place all the styles related to the api/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  margin: 15px;
  align-items: center;

}

.notes-index-container {
  width: 284px;
}

.notes-index-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  border: 1px solid $gray;
  margin: 15px;
  border-radius: 4px;
  background-color: white;
}

.notes-index-note {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 5px;
  width: 100%;

  h1 {
    font-style: italic;
  }
}

.notes-index-image {
  align-content: center;
  padding: 5px;

  img {
    width: 100px;
  }
}

.delete-note-button {
  border-radius: 4px;
  font-size: 14px;
  background-color: rgba(236, 241, 242, 0.8);
  border: 1px solid $dark-gray;
  // background-image: url("http://res.cloudinary.com/di8mt9hbc/image/upload/v1485126484/trash_hejvd4.png");
  // background-size: contain;
  // background-repeat: no-repeat;
  padding: 2px;

  &:hover {
    background-color: $red;
    color: white;
  }
}
