.show-note-form-button {
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
  color: $dark-gray;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(236, 241, 242, 0.8);
  margin: 10px;
  border: 1px solid $gray;
  width: 90%;

  &:hover {
    background-color: $red;
    color: white;
  }
}

.note-form-container {
  margin: auto;
  background-color: rgba(236, 241, 242, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    width: 250px;
    background: #A4250D;
    color: #ECF1F2;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;

    &:hover {
      background-color: #292F36;
    }
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(236, 241, 242, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  padding: 10px;

  h1 {
    font-size: 24px;
    padding: 5px;
    color: $red;
  }

  label {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  input {
    background: white;
    height: 30px;
    padding: 0px 6px;
    width: 250px;
    color: #272635;
    border: 1px solid #c3c2c2;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Raleway' sans-serif;

  }
}

.image-form {

}
