$yellow: #ffa513;
$light-yellow: #ffb21f;
$milk-white: #ece1f2;
$red: #a4250d;
$light-red: #bf2a0e;
$dark-red: #88200c;
$dark-gray: #272635;
$gray: #504a50;
$green: #436423;
$dark-green: #344c1d;
$blue: #0d2645;
$light-blue: #426b8c;
$dark-brown: #b9764d;
