.header {
  background-color: #ECF1F2;
  width: 100%;
  height: 75px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row nowrap;

  .nav-logo {
    width: 225px;
    padding: 20px 50px;
    font-family: 'Fredericka the Great', cursive;


    a {
      font-size: 28px;
      padding: 1px;
      font-weight: 600;
      color: $red;
      text-decoration: none;
      cursor: pointer;
      border-bottom: 5px solid $gray;
      border-radius: 5px;
    }
  }

  .nav-menu {
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: flex-end space-between;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row nowrap;
      list-style: none;
      align-items: baseline;
      justify-content: space-between;
    }

    li a {
      font-size: 20px;
      border-radius: 4px;
      // padding-right: 40px;
      color: $dark-gray;
      text-decoration: none;
      cursor: pointer;
      margin: 10px;

      &:hover {
        // color: white;
        // background-color: $red
        border-bottom: 5px solid $red;
        border-radius: 5px;
      }
    }

    button {
      font-size: 20px;
      padding: 5px;
      border-radius: 4px;
      color: $dark-gray;
      font-family: 'Raleway', sans-serif;


      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }
}
