.profile {
  margin: auto;
  background-image: url('http://res.cloudinary.com/di8mt9hbc/image/upload/v1484542663/wood-911002_1920_phredk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: center fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.show-recipe-form-button {
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
  color: $dark-gray;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  max-height: 30px;
  margin: 10px;

  &:hover {
    background-color: $red;
    color: white;
  }
}
